<!doctype html>
<html>
<head>
    <title>Yuvata</title>
     <link rel="stylesheet" type="text/css" href="bower_components\font-awesome\css\font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Yuvata</h1>

        <span class="fa fa-lock"></span><p>Login or Register with:</p>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

    </div>

</div>
</body>
</html>   